<template>
    <div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Lucas {{ replied }}
                </span>
                <blockquote>
                    Sed itaque explicabo dolor sit. Et dolorem accusantium accusantium molestiae rerum dolorem doloribus laudantium. Officia et molestiae quas aut aliquid est. Quo laboriosam ratione vitae perspiciatis incidunt dolorem voluptatibus dolorem. Id debitis odit beatae. Laborum et sed voluptas architecto aperiam. Doloremque mollitia quia enim quasi sint et. Eos qui illo aut vel. Quas quia itaque iure non in.
                </blockquote>
            </div>
        </div>
        <div class="card grey lighten-4">
            <div class="card-content">
                <span class="card-title">
                    {{ reply }}
                </span>
                <form>
                    <div class="input-field">
                        <textarea class="materialize-textarea" rows="10" :placeholder="yourAnswer" />
                    </div>
                    <button type="submit" class="btn red accent-2">{{ send }}</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Replies",
        props: [
            'replied',
            'reply',
            'yourAnswer',
            'send'
        ]
    }
</script>

<style scoped>

</style>
